* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a29deb;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
